.selected-beat {
  width: 33%;
  height: 200px;
  background-color: rgba(20, 20, 20, 0.5);
  float: left;
  position: relative;
  color: white;
}
  .controls {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
  }
    .controls i {
      font-size: 48px;
      padding: 0 20px;
    }

.beats-library {
  width: 66%;
  height: 200px;
  background-color: rgba(20, 20, 20, 0.5);
  color: white;
  float: left;
}
