.header {
  width: 100%;

  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

  .logo-wrapper {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
  }
  .nav {
    margin-right: 100px;
  }
