.header {
  width: 100%;

  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-direction: column;
  position: relative;
}

  .logo-wrapper {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
  }
  .nav {
    margin-right: 100px;
  }

  .links {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .header a {
    display: inline-block;
    color: white;
    font-size: 32px;
    margin: 20px 10px 0 10px;
  }
